* {
  font-family: "Inter", sans-serif;
  margin: 0;
  color: rgb(46, 55, 68);
}
    
/* header+ main */

header {
    font-size: 2.5rem;
    padding: 0.5rem 2rem;
    vertical-align: middle;
}

main {
    background-color: rgb(245, 245, 245);
    margin: 0;
    padding: 2rem;
}

.align {
    vertical-align: middle;
}

/* main container */

.container {
  background-color: white;
  height: 800px;
  width: 800px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0rem 0rem 30px rgba(0, 0, 0, 0.1);
  
}

/* pulsanti task e section */

button {
    border-radius: 5px;
    font-size: 0.5;
    padding: 0.5rem 1rem;
}

.addbar {
    border-bottom: 1px solid lightgrey;
    padding: 1rem 3rem;
}

.task {
    background-color: #47adf1;
    color: white;
    border: 1px solid #47adf1;
}

.section {
    background-color: white;
    color: #979797;
    border: 1px solid #979797;
}

/* task */

.arrow {
    font-size: 1.5rem;
}

section {
    line-height: 2rem;
    padding: 1rem 3rem;
    align-items: center;
}

/* checkmarks */

.icon {
    height: 15px;
    width: 15px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    border-radius: 50%;
    line-height: 1rem;
}

.check {
    border: 2px solid rgb(47, 230, 23);
    color: rgb(47, 230, 23);
    margin-right: 1rem;;
}

.cross {
    border: 2px solid rgb(230, 23, 23);
    color: rgb(230, 23, 23);
    margin-right: 1rem;
}
    
/* attributes */

.editorial {
    color: white;
    font-size: 0.6rem;
    margin-left: 0.1rem;
    background-color: #47adf1;
    border-radius: 10px;
    padding: 0.5rem;
}

.q1goals {
    color: white;
    font-size: 0.6rem;
    margin-left: 0.1rem;
    background-color: #bb47f1;
    border-radius: 10px;
    padding: 0.5rem;
}

.recruiting {
    color: white;
    font-size: 0.6rem;
    margin-left: 0.1rem;
    background-color: #71c58d;
    border-radius: 10px;
    padding: 0.5rem;
}

.mobile {
    color: white;
    font-size: 0.6rem;
    margin-left: 0.1rem;
    background-color: #d38c2f;
    border-radius: 10px;
    padding: 0.5rem;
}

.website {
    color: white;
    font-size: 0.6rem;
    margin-left: 0.1rem;
    background-color: #e266d8;
    border-radius: 10px;
    padding: 0.5rem;
}

.sales {
    color: white;
    font-size: 0.6rem;
    margin-left: 0.1rem;
    background-color: #cee957;
    border-radius: 10px;
    padding: 0.5rem;
}
